name: LintBuildDeployEdge
  
on: pull_request
jobs:
  lint-charms:
    name: "Lint the charms"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v1
      - name: "Store commit sha for later use"
        id: vars
        shell: bash
        run: |
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - uses: actions/setup-python@v1
        with:
          python-version: '3.x'
          architecture: 'x64'
      - name: "Install tox, run 'make lint'"
        run: | 
          pip install tox
          make lint

  build-charms:
    name: "Build the charms"
    needs: lint-charms
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v1
      - name: "Install charmcraft and build the charms"
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'
          architecture: 'x64'
        run: |
          pip install charmcraft
          make charms

      - name: "Upload charm artifacts"
        uses: actions/upload-artifact@v2
        with:
          name: slurm-charms
          path: |
            slurmctld.charm
            slurmrestd.charm
            slurmdbd.charm
            slurmd.charm
            slurm-configurator.charm
  
  cache-juju-tar:
    name: "Cache juju tar for future jobs"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Configure AWS Credentials"
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: "Pull juju creds from s3"
        run: |
          aws s3 cp s3://omnivector-cicd/juju-local/juju-local.tar.gz .

      - name: "Create juju-tar artifact"
        uses: actions/upload-artifact@v2
        with:
          name: juju-tar
          path: |
            juju-local.tar.gz


  deploy-slurm-focal-on-aws:
    name: "Deploy focal on aws"
    runs-on: "ubuntu-latest"
    needs: [cache-juju-tar, build-charms]
    steps:
      - name: "Pull charm artifacts"
        uses: actions/download-artifact@v2
        with:
          name: slurm-charms

      - name: "Pull juju-tar artifact"
        uses: actions/download-artifact@v2
        with:
          name: juju-tar

      - name: "Unpack juju creds"
        run: |
          tar -xzvf juju-local.tar.gz
          echo "JUJU_DATA=/home/runner/work/slurm-charms/slurm-charms/.local/share/juju" >> $GITHUB_ENV

      - name: "Install juju"
        run: | 
          sudo snap install juju --classic

      - name: "Login to juju controller as cicd user"
        run: |
          echo ${{secrets.JUJU_CIRCLECI_USER_PASSWORD}} | juju login --user circleci

      - name: "Add model to house charms for testing"
        run: |
          juju add-model ${{ steps.vars.outputs.sha_short }}-focal
          juju add-space -m ${{ steps.vars.outputs.sha_short }}-focal nat 172.31.90.0/24 172.31.91.0/24 172.31.92.0/24 172.31.93.0/24
          juju model-config logging-config="<root>=DEBUG;<unit>=DEBUG"

      - name: "Deploy charms"
        shell: bash
        run: |
          for charm in slurmctld slurmd slurmrestd slurm-configurator slurmdbd; do
            juju deploy ./$charm.charm --series focal --bind nat
          done
          juju deploy percona-cluster --bind nat

          juju relate slurmdbd percona-cluster
          juju relate slurmd slurm-configurator
          juju relate slurmdbd slurm-configurator
          juju relate slurmctld slurm-configurator
          juju relate slurmrestd slurm-configurator

      - name: "Wait for deployment to settle"
        run: |
          sudo snap install juju-wait --classic
          juju-wait

      - name: cluster health
        run: |
          juju run "sinfo" --unit slurmd/0

      - name: "Remove applications from juju model"
        if: ${{ always() }}
        run: |
          juju remove-application slurmctld
          juju remove-application slurmdbd
          juju remove-application slurmd
          juju remove-application slurmrestd
          juju remove-application slurm-configurator
          juju remove-application percona-cluster

      - name: "Grab the slurm logs"
        if: ${{ always() }}
        run: |
          juju debug-log --replay --include slurmd > slurmd-focal.txt
          juju debug-log --replay --include slurmrestd > slurmrestd-focal.txt
          juju debug-log --replay --include slurmdbd > slurmdbd-focal.txt
          juju debug-log --replay --include slurmctld > slurmctld-focal.txt
          juju debug-log --replay --include slurm-configurator > slurm-configurator-focal.txt

      - name: "Upload slurm charm logs"
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: slurm-charm-logs
          path: |
            slurmctld-focal.txt
            slurmdbd-focal.txt
            slurmd-focal.txt
            slurmrestd-focal.txt
            slurm-configurator-focal.txt

      - name: "Destroy the model"
        if: ${{ always() }}
        run: |
          juju destroy-model -y ${{ steps.vars.outputs.sha_short }}-focal

